.card__header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 15px;
}

.detail__header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 10px;
}