.card__header {
    display: flex;
    height: 64px;
    justify-content: flex-end;
    gap: 15px;
    margin-inline: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.detail__header {
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 10px;
}

.group__overview {
    display: flex;
    justify-content: space-between;
}