/* .detail__header {
    display: flex;
    height: 12px;
    justify-content: flex-end;
}

.primary-button {
    margin-top: 1rem;
    margin-right: 2rem;
    padding: .6rem;
    width: 10rem;
    background: #faf7f7;
    border: none;
    color: #443a3a;
    font-size: 0.8rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

.event_details
{
    font-size: 0.8rem;
    color:gray ;
}

.button_approval
{
    margin-right: 10px; 
} */