.page__header {
    display: flex;
    height: 64px;
    /* justify-content: space-between; */
    justify-content: space-between;
    background-color:white;
    opacity: .7;
    align-items: center;
}

.header__icon {
    padding-left: 10px;
    float: left;
    width: 56px;
    height: 56px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }

.header__title {
    margin-left: 32px;
    align-self: auto;
    font-family: 'GT-America';
}